@charset "UTF-8";

.main-logo {
  text-align: center;
  margin-top: 13%;
}

p.text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
}

.top {
  text-align: center;
  color: aliceblue;
}

.welcome {
  margin-top: 60px;
  margin-bottom: 40px;
}

.container {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.register_form {
  margin-top: 30px;
  font-size: 12px;
}

.backlogin_form {
  margin-top: 40px;
  font-size: 12px;
}

p.username {
  margin-top: 40px;
  margin-left: -85px;
  margin-bottom: 3px;

}

p.mail {
  margin-left: -70px;
  margin-bottom: 3px;
}

p.pass {
  margin-left: -85px;
  margin-bottom: 3px;
}

p.passconfirm {
  margin-left: -30px;
  margin-bottom: 3px;
}

.loginbtn {
  margin-top: 15px;
  margin-right: -93px;
}

.registertbtn {
  margin-top: 15px;
  margin-right: -75px;
}

h2 {
  margin-top: 20px;
}

.gradient {
  background: linear-gradient(to top,
      #FF6347 10%,
      #483D8B 70%);
}

.input {
  border-radius: 5px;
  border: none;
  padding: 3px;
}

.main_logo {
  margin-left: -140px;
  margin-top: -10px;

}

#head {
  height: 90px;
}

.accordion_header {
  padding-top: 0px;
  padding-left: 200px
}

header {
  display: flex;
}
